{% extends 'base.html' %}
{% block content %}

{% if category_posts %}
    <h1>{{ops}} Category</h1>

    {% for post in category_posts %}
        <div class="list-group">
            <a href="{% url 'post-detail' post.pk %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{post.title}}</h5>
                <small>By: {{post.author.first_name}} {{post.author.last_name}} - {{post.post_date}}</small>
            </div>
            <p class="mb-1">{{post.body|slice:":100"|safe}}</p>
            </a>
            {% if user.is_authenticated %}
            <small><a href="{% url 'post-edit' post.pk %}">[Edit]</a>|<a href="{% url 'post-delete' post.pk %}">[Delete]</a></small>
            {% endif %}
        </div>
    {% endfor %}

{% else %}
    <h3>Oops, this page doesn't exist..</h3>
{% endif %}

{% endblock %}

