{% extends 'base.html' %}
{% block content %}
<h1>Blog Posts</h1>

{% for post in object_list %}
    <div class="list-group">
        <a href="{% url 'post-detail' post.pk %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{post.title}}</h5>
            <small>By: {{post.author.first_name}} {{post.author.last_name}} - {{post.post_date}}</small>
        </div>
        <p class="mb-1">{{post.body|slice:":100"|safe}}</p>
        </a>
        {% if user.is_authenticated %}
        <small><a href="{% url 'post-edit' post.pk %}">[Edit]</a>|<a href="{% url 'post-delete' post.pk %}">[Delete]</a>|<a href="{% url 'category-view' post.category %}">[{{post.category}}]</a></small>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}

