{% extends 'base.html' %}
{% block title %}{{post.title_tag}}{% endblock %}
{% block content %}


<!-- current user = {{user.id}} -->
<!-- post author = {{post.author.id}} -->

<h1>{{post.title}}</h1>
<small>By: {{post.author.first_name}} {{post.author.last_name}} - {{post.post_date}}
    
    {% if user.is_authenticated and post.author.id == user.id %}
            <a href="{% url 'post-edit' post.pk %}">[Edit]</a>|<a href="{% url 'post-delete' post.pk %}">[Delete]</a></small><br/>
    {% endif %}
    
<hr>
<br>
{{post.body|safe}}


<br><br>
<a href="{% url 'home' %}" class="btn btn-primary">Back</a>

<br><br>
<hr>
<br>
<form action="{% url 'like-post' post.pk %}" method="POST">
    {% csrf_token %}

    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
            <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-success btn-sm">Like</button>
        {% endif %}
    {% else %}
        <small>Please <a href="{% url 'login' %}">login</a> to like!</small>
    {% endif %}
    - {{total_likes}} Likes
</form>

{% endblock %}